@model IEnumerable<eShop.Admin.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}
<p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" onclick="AddUpdateGet('User/SaveUpdate', 'დამატება', '@Guid.Empty')">მომხმარებლის დამატება</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirtsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirtsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-placement="top" onclick="AddUpdateGet('User/SaveUpdate', 'რედაქტირება', '@item.Id')" title="რედაქტირება"><i class="fa fa-edit"></i></button>
                    @*<button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="წაშლა"><i class="fa fa-trash"></i></button>*@
                </td>
            </tr>
        }
    </tbody>
</table>


<!--User Modal -->

<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="userModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_AddUpdate" model="new UserModel()" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        AddUpdateGet = (url, title, Id) => {
            try {
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    data: {
                        id: Id
                    },
                    success: function (response) {
                        for (var i = 0; i < response.length; i++) {
                            $("#roleDropDownList").append("<option value='" + response[i].id + "'>" + response[i].name + "</option>");
                        }  

                        $('#userModal .modal-body').html(response.html);
                        $('#userModal .modal-title').html(title);
                        $('#userModal').modal('show');
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }

        AddUpdatePost = (url) => {
            let categoryModel = {
                Id: $('#categoryModal .modal-body #Id').val(),
                Name: $('#categoryModal .modal-body #Name').val()
            };
            try {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { category: categoryModel },
                    success: function (response) {
                        $('#categoryModal').modal('hide');
                        if (response.success) {
                            $.notify(response.responseText, "success");
                            Reload();

                        } else {
                            $.notify(response.responseText, "error");
                        }
                    },
                    error: function (err) {
                        $.notify(err, "error");
                    }
                })
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }
      
        function Reload() {
            setTimeout(function () { window.location.reload(); }, 1000);
        }

    });
</script>