@using eShop.Utility;

@model PagedResults<ProductModel>

@if (Model.Items.Count() == 0)
{
    <div class="alert alert-danger" role="alert">
        არ მოიძებნა პროდუქტი ...
    </div>
}


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model.Items)
            {
<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="~/Images/@item.ImagePath" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">@item.Name</h5>
                <!-- Product price-->
                $ @item.Price
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" asp-controller="Product" asp-action="ProductDetails" asp-route-ProductId="@item.ProductId">დეტალურად</a>
            </div>
        </div>
    </div>
</div>            }
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="@(Model.HasPreviousPage?"page-item active" : "page-item disabled")">
                <a class="page-link" href="@Url.Action("Index", new { Page = Model.CurrentPage-1 })" tabindex="-1">წინა</a>
            </li>
            @for (int i = 1; i < (Model.TotalPages + 1); i++)
            {
<li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
    <a class="page-link" href="@Url.Action("Index", new { Page = i })">@i</a>
</li>
}
            <li class="@(Model.HasNextPage?"page-item active" : "page-item disabled")">
                <a class="page-link" href="@Url.Action("Index", new { Page = Model.CurrentPage+1 })">შემდეგი</a>
            </li>
        </ul>
    </nav>
</section>
